body{
    background-color: black;

}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

.titulo{
    font-family: 'Kalam', cursive;

    color: rgb(151, 144, 136);
    font-size: 500%;
    margin-bottom: 0%;

}
.button{
    background-color: black;
    color: white;
    border: 10px;
    font-size: 150%;

}
.button:hover {
    background-color:  rgb(151, 144, 136)
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

